version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - rabbitmq
      - worker
    environment:
      - CELERY_BROKER_URL=pyamqp://user:password@rabbitmq//  # RabbitMQ URL
      - CELERY_RESULT_BACKEND=redis://redis:6379/0  # Redis URL
      - PYTHONPATH=/app

  worker:
    build: .
    command: celery -A tasks worker --loglevel=info --concurrency=2 # Change worker concurrency
    depends_on:
      - redis
      - rabbitmq
    environment:
      - CELERY_BROKER_URL=pyamqp://user:password@rabbitmq//  # RabbitMQ URL
      - CELERY_RESULT_BACKEND=redis://redis:6379/0  # Redis URL
      - PYTHONPATH=/app

  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"

  rabbitmq:
    image: "rabbitmq:3-management"
    ports:
      - "5672:5672"  # RabbitMQ port
      - "15672:15672"  # RabbitMQ management UI port
    environment:
      - RABBITMQ_DEFAULT_USER=user
      - RABBITMQ_DEFAULT_PASS=password
